<div class="jobs-container">
    <div class="logo">
        <img [src]="job.companyLogo" alt="{{job.companyName}}" />
    </div>
    <a class="cardContainer" routerLink="/jobs/details/{{job.id}}" routerLinkActive="router-link-active" >
        <div class="card-title">
            {{job.title}}
        </div>
        <div class="card-content">
            <div class="sub-content">
                Company: {{job.companyName}}
            </div>
            <div class="sub-content">
                Reference: {{job.reference}}
            </div>
        </div>
    </a>
    <div class="favorite_container" *ngIf="favorite">
        <button (click)="addToFavorites(job.id)"><span class="icon-star" [ngClass]="{'active':job.favorite}" id="star-{{job.id}}"></span></button>
    </div>
</div>